html, body
{
    font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', serif;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    user-select: none;
}

main {
    padding: 0 20% 10vh;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    /* font-family: sans-serif; */
}

header button {
    margin: 0 1em;
    width: 10em;
    height: 3em;
    font-size: 3vh;
    font-weight: bold;
    font-family: fantasy;
    transition-delay: .1s;
    transition-duration: .25s;
}

header button:hover {
    transform: scale(1.05);
}

h1 
{
    font-family: fantasy;
    text-align: center;
    font-size: 4em;
}

.highlight 
{
    color: #ffd700;
    font-weight: bold;
}

#scroll-icon 
{
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    transition: opacity 0.3s;
    background-image: url(../images/arrow_down.png);
    background-size: contain;
    margin-top: 25%;
    opacity: 50%;
    transition-duration: 0.75s;
}

#scroll-icon:hover {
    opacity: 100%;
    animation: hop .5s infinite alternate;
    animation-delay: 1s;
}

/* Define the hop animation */
@keyframes hop {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(-10px) rotateY(180deg); }
}

#scroll-icon.hide 
{
    opacity: 0;
    pointer-events: none;
}

@media screen and (max-width: 850px) {
    main {
        padding: 0 15% 10vh;
    }

    header {
        flex-direction: column;
    }
    
    #scroll-icon {
        position: inherit;
    }

    header button {
        margin: 2vh 0;
    }
}
