body
{
    font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', serif;
    background-color: #2b2b2b;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 20px;
    height: 150vh; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Style the buttons */
button 
{
    margin: 0 20px;
    padding: 10px 20px;
    font-size: 22px;
    font-family: fantasy;
}

h1 
{
    font-family: fantasy;
    text-align: center; /* Center the text */
    font-size: 45px; /* Adjust the font size as needed */
}

.highlight 
{
    color: #ffd700;
    font-weight: bold;
}

#scroll-icon 
{
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: opacity 0.3s
}

#scroll-icon.hide 
{
    opacity: 0;
    pointer-events: none; /* Disable pointer events when hidden */
}