footer button {
    margin: 0 1em;
    width: 10em;
    height: 3em;
    font-size: 3vh;
    font-weight: bold;
    font-family: var(--font_family-title);
    transition-delay: .1s;
    transition-duration: .25s;
}

header {
    margin: 0 40px;
}

footer button:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 850px) {
    footer {
        flex-direction: column;
    }
    
    footer button {
        margin: 2vh 0;
    }
}
