header {
    margin: 0 40px;
}

footer button {
    margin: 0 1em;
    width: 10em;
    height: 3em;
    font-size: 3vh;
    font-weight: bold;
    font-family: var(--font_family-title);
    transition-delay: .1s;
    transition-duration: .25s;
}

footer button:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 850px) {
    footer {
        flex-direction: column;
    }
    
    footer button {
        margin: 2vh 0;
    }
}

.button_cocktail {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

/* Changes size depending on the screen size */
@media (max-width: 600px) {
    /* changes the layout so the row becomes by 2, instead of 4 */
    .button_cocktail {
        width: 45%;
        display: block;
        margin: 5px auto;
    }
}